



.body{
    font-family: 'Roboto', sans-serif;
    width: 1920px;
    height: 100%;
    background-color: #2F343A;
    margin: 0 auto;
}

.wrap{
    width: 1110px;
    margin: 0 auto;
   

}

.header{
    width: 1920px;
    height: 45px;
    background: #C8A35F;
   margin-bottom: 27px;
   
}

/*-----------------------------------*/
.language{
   
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    align-items: center;

}

.language__rus{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
    text-decoration: none;
}

.language__eng{
margin-left: 10px;
font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
    opacity: 0.5;
    text-decoration: none;
}

.language__fr{
    margin-left: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 16px;
    opacity: 0.5;
    text-decoration: none;
}

.language__email{
    margin-left: 436px;
    margin-top: 16px;
    margin-bottom: 16px;
    Font-Family: Roboto;
    Font-Style: Regular;
    Font-Size: 12px;
    Line-Height: 14.06px;
    Line-Height: 100%;
    color: #FFFFFF;
}

.language__tel{
   margin-left: 426px;
   margin-top: 16px;
    margin-bottom: 16px;
    Font-Family: Roboto;
    Font-Style: Regular;
    Font-Size: 12px;
    Line-Height: 14.06px;
    Line-Height: 100%;
    color: #FFFFFF;

}

/*------------------------------*/

.menu{
    display: flex; 
    align-items: center;
    margin-bottom: 27px;
}

.menu__list{ 
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style-type: none;
    font-style: normal;
    font-weight: normal;
}

.menu__items{
    margin-left: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.menu__office{
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}
.menu__services{
    margin-left: 351px;
}
.abc{
    color: #FFFFFF;
    text-decoration: none;
}


/*--------------------*/

.logo{
    width: 160px;
    height: 46px;
    padding-right: 30px;
    border-right: 1px solid #F2F2F2;
    
}
.logo__company{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__map{
   margin-left: 29px;
   padding-top: 6px
}

/*-----------------------*/

.cargo{
    display: flex;
    justify-content: center;
    width: 1920px;
    height: 620px;
    background: linear-gradient(0deg, rgba(47, 52, 58, -0.25), rgba(47, 52, 58, -0.25)), url(img/background1.png);
    
}
.cargo__title{
    width: 920px;
    height: 245px;
    border: 1px solid #C8A35F;
    box-sizing: border-box;
    margin-top: 155px;
}